.UserInformation{
    display:inline-flex;
}

.email{
    font-size: 15px;
}
.UserNameAndEmail{
    margin-left: 20px;
}
td{
    width: 350px;
}
.status{
    width: 200px;
}
.access{
    width: 200px;
}